body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* Стилі для контейнера та шапки сайту */
.major-container {
    width: 1160px;
    margin: 0 auto;
}
header {
    text-transform: uppercase;
}
.navbar {
    background-color: rgba(94, 93, 88, 0.8); /* Используем RGBA цвет с прозрачностью 0.6 */
    width: 1200px;
    height: 70px;
    position: absolute;
    top: -1px;
}

.svg-icon:hover {
    transition: 0.3s; 
    fill: #18CFAB
}

.navbar .container-nav {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu li {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 700;
    color: #FFFFFF99;

}

.nav-menu a {
    transition: color 0.3s;
    
}
.nav-menu a:hover {
    color: #18CFAB;
    padding-bottom: 21px;
    border-bottom: 2px solid #18CFAB ;
}

.navbar-logo {
    width: 200px;
}


/*  */
.header-background {
    background-image: url('../img/headerfon.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}
  
/* текст на картинке */
.The-Ham {
    font-size: 35px;
    font-weight: 700;

}
.header-content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.header-content-h2 {
    font-size: 78px;
    font-weight: 700;


}
.header-content span {
    color:#18CFAB;
}
.Just-Buy {
    color: rgb(194, 193, 193);
    font-size: 23px;

}
/* кнопки на картинке */
.buttons {
    margin-top: 60px;
    
}

.buttons button {
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 169px;
    height: 43px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    
}

.button-explore {
    background: #18CFAB;
    box-shadow: 0 -5px 0 0 rgba(255, 255, 255, 1); /* белая тень снизу -5пх  */
    
}

.button-purchase {
    background: #00CBF6;
    box-shadow: 0 -5px 0 0 rgba(255, 255, 255, 1); 
}

.buttons button:hover {
    transition: 0.3s;
    background-color: #2c6659;
}
/* main */

/* тут я делаю квадратики в которых внутри 2 буквы и лого */
.main-containers {
    display: flex;
    justify-content: space-around;
    /* text-transform: uppercase; убрал ибо без него как-то лучше смотриться(По макету все буквы большие в этих квадратах*/ 
}

.main-containers div {
    width: 292px;
    height: 292px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 15px;
    text-transform: uppercase;
}

.main-containers img {
    height: 60px;
}
.main-containers p {
    margin-top: 30px;
    margin-left: 0;
}
.hand {
    background: #1C2A33;
}
.hand p {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #18CFAB;

}
.diamand{
    background: #18CFAB;
}
.diamand p {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #fff;
    
}
.lamp{
    background: #1C2A33;
}
.lamp {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #18CFAB;
}
.gadgets{
    background: #18CFAB;
}
.gadgets {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #fff;
}

/* our service */

.OurServices{
    margin-top: 30px;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #4E4E4E;
}
.OurServices img {
    width: 132px;
    height: 132px;
    margin-left: 15px;
    
}
.main-menu {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.menu-button {
    background-color: rgba(237, 239, 239, 1);
    color: #717171;
    cursor: pointer;
    width: 135px;
    height: 66px;
    border: 2px solid transparent; 
    padding: 10px; 
    
}

.menu-button:hover {
    transition: 400ms;
    border-color: #18CFAB; /* Изменяем цвет границы при наведении */
}

.menu-button.active {
    background-color: #18CFAB;
    color: #F8FCFE;
}

.web-design-content, .graphic-design-content, .online-support-content, .app-design-content, .online-marketing-content, .seo-service-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}
.web-design-content p, .graphic-design-content p, .online-support-content p, .app-design-content p, .online-marketing-content p, .seo-service-content p  {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #777777;
    padding-left: 6px;
    width: 700px;
    
}

.content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.content-item {
    display: none;
}
.content-item.active {
    display: block;
    
}

.menu-button.active::before {
    content: "▼"; /* Это символ стрелки вниз */
    margin-left: 5px;
    position: absolute;
    padding-top: 33px;
    padding-left: 40px ;
    color: #18CFAB;
    font-size: 21px; /* Увеличьте размер символа */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Everything is ready. just buy and install now */

/*foto*/
.OurServicesFooter-mesto{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:100%; 
    height: 600px;
    max-width: 100vw;

}
.OurServicesFooter {
    background-image: url('../img/mainFon.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:100%; 
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    position: absolute;
    bottom: -1274px;
}

.services-footer-text {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    color: #18CFAB;
    font-weight: 700px;
    text-transform: uppercase;
}

.services-footer-paragpaph {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #D8D8D8;
    opacity: 0.5;

}

.services-footer-button {
    background-color:#18CFAB;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 168px;
    height: 54px;
    color: #F8FCFE;
    box-shadow: 0 -5px 0 0 rgba(255, 255, 255, 1); /* белая тень снизу -5пх  */

}

.services-footer-button:hover {
    transition: 300ms;
    background-color: #0f7c66;
}

/* amazing work */
.amazingWork {
    padding-top: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #E9EDEF;

}
.amazingWork > h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    
    opacity: 0.6;

}

.amazing-menu {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.amazing-button {
    color: #717171;
    cursor: pointer;
    width: auto;
    height: auto;
    border: 1px solid transparent; 
    padding: 23px; 
    border-color: rgba(218, 218, 218, 1);
}

.amazing-button:hover {
    border-color: #18CFAB; /* Изменяем цвет границы при наведении */
}

.amazing-button.active {
    border: 2px solid transparent;
    border-color:#18CFAB ;
}

.load-more-button {
    margin-top: 63px;
    width: 130px;
    height: 60px;
    color: #F8FCFE;
    background-color: #18CFAB;
    border-radius: 5px;
    justify-content: center;
    font-size: 14px;


}
.load-more-button:hover {
    transition: 300ms;
    background-color: #149b80;
}
.icon {
    width: 13px;
    height: 13px;
}

/* картиночки */

/* CSS стили для галереи и изображений */
.amazing-gallery {
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;
}

.amazing-image {
    position: relative;
    width: 231px;
    height: 210px;
    overflow: hidden;
    transition: 0.3s;
}

.amazing-image:hover {
    border-top: 2px solid #18CFAB;
    
}
/* стили текста внутри всех картинок */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 237, 239, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
}

.overlay p {
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    color: #8A8A8A;

}

.overlay h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #18CFAB;
}

.overlay img {
    margin-bottom: 30px;
}

.amazing-image:hover .overlay {
    opacity: 1;
}

/* breaking NEwSSS*/
.breakingNews > h2 {
    margin-top: 80px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: rgba(78, 78, 78, 1);
    display: flex;
    justify-content: center;
    align-items: center;


}

.breakingNews > .dvepoliski {
    margin-left: 47%;
}

.container-breaking-news{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.container-breaking-news > div {
    display: flex;
    flex-direction: column;
    margin: 10px; 
    position: relative; 
}

.container-breaking-news > div::before {
    content: "12"; 
    width: 60px;
    height: 29px; 
    background-color: rgba(32, 62, 56, 1); 
    position: absolute;
    right: 7px; /* ставлю ибо квадрат будет выскакивать с картинки */
    text-align: center;
    line-height: 29px; 
    color: #fff;
    transition: background-color 0.3s; 
}
.container-breaking-news > div::after {
    content: "Feb"; 
    width: 60px;
    height: 29px; 
    background-color: rgba(32, 62, 56, 1);
    position: absolute;
    top: 29px; 
    right: 7px;
    text-align: center;
    line-height: 29px; /* Выравниваем текст по вертикали */
    color: #fff;
    transition: background-color 0.3s;
}

.container-breaking-news > div > h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    color: rgba(113, 113, 113, 1);
    transition: color 0.3s; 
    margin-left: 25px; /* по макету оно не по центру а чуть правее */
}
.container-breaking-news > div > p {
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    color: rgba(119, 119, 119, 1);
    margin-left: 25px;  /* по макету оно не по центру а чуть правее */

}

.container-breaking-news > div:hover > h2 {
    color: rgba(24, 207, 171, 1); /* Изменять цвет текста при наведении */
}
.container-breaking-news > div:hover::before, div:hover::after {
    background-color: rgba(24, 207, 171, 1); /* Изменять цвет квадрата при наведении */
}


/* What People Say About theHam */
.sayAbout {
    margin-top: 50px;
    background-image: url('../img/aboutsayfon.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 825px; /* Занимает всю высоту экрана пользователя */
}


.sayAbout > h2 {
    padding-top: 90px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #F8FCFE;
    margin-bottom: 50px;
}

.sayAbout > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    width: 1200px;
    color: rgba(113, 113, 113, 1);
    margin: 0 auto;
    text-align: center;
}

.sayAbout img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* карусель  */


.carousel-container {
    margin-top: 120px;
    align-items: center;
    text-align: center;
    position: relative;
}

.carousel-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    opacity: 0;
    inset: 0;
    transition: 300ms transform ease-in-out;
    top: -75px;
    transform: translateX(0); /* Initial position */
}
.slide > img {
    width: 120px;
    height: 120px;
}
.slide[data-active] {
    opacity: 1;
    z-index: 1;
}

.carousel-button {
    position: absolute;

    font-size: 23px;
    align-items: center;
    color: #F8FCFE;
    border: 1px solid ghostwhite;
    width: 30px;
    height: 30px;
}

.slide > h3 {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    
}

.slide > p {
    padding-bottom: 30px;
    color: #aeaeae71;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
}

.carousel-button:hover,
.carousel-button:focus {
    transition: 300ms;
    background-color: #18CFAB;
    border-color: #18CFAB;
}


.carousel-button.prev {
    right: 35%;
    top: 240px;
}

.carousel-button.next {
    left: 35%;
    top: 240px;
}
.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnails img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.6;
}

.thumbnails img:hover {
    opacity: 1;
}


.thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 39%;
}

.thumbnails img {
    width: 80px;
    height: 70px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnails img:hover {
    opacity: 1;
}
/* футер */
footer {
    background: #22353F;
    width: 100vw;
    height: 111px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer > p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
    opacity: 0.5;
}

footer p > span {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB; ;
}

footer p > span:hover {
    color: #0f7c66
}

.dvepoliski {
    margin-top: 35px;
    width: 91px !important;
    height: 8px !important;
    
}
